@{
    ViewData["Title"] = "Create Course";
}
@model CourseModelCreate

<h1>Create New Course</h1>

<form class="row g-3" method="post" enctype="multipart/form-data" asp-action="Create">
    <div class="col-md-12">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" type="text" class="form-control" placeholder="Enter course name">
        <span asp-validation-for=Name class="form-text text-danger"></span>
    </div>

    <div class="col-md-4">
        <label asp-for="Price" class="form-label">Price</label>
        <input asp-for="Price" step="0.01" type="number" class="form-control" placeholder="Enter price">
        <span asp-validation-for=Price class="form-text text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="Discount" class="form-label">Discount</label>
        <input asp-for="Discount" value="0" type="number" class="form-control" placeholder="Enter discount">
        <span asp-validation-for=Discount class="form-text text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="Rating" class="form-label">Rating</label>
        <input asp-for="Rating" step="0.1" value="0" type="number" class="form-control" placeholder="Enter course rating">
        <span asp-validation-for=Rating class="form-text text-danger"></span>
    </div>

    <div class="col-md-4">
        <label asp-for="Language" class="form-label">Language</label>
        <input asp-for="Language" type="text" class="form-control" placeholder="Enter course language">
        <span asp-validation-for=Language class="form-text text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="CategoryId" class="form-label">Category</label>
        <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-select">
            <option disabled selected>Choose category...</option>
        </select>
        <span asp-validation-for=CategoryId class="form-text text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="LevelId" class="form-label">Level</label>
        <select asp-for="LevelId" asp-items="ViewBag.Levels" class="form-select">
            <option disabled selected>Choose level...</option>
        </select>
        <span asp-validation-for=LevelId class="form-text text-danger"></span>
    </div>

    <div class="col-md-12">
        <label asp-for="Image" class="form-label">Image</label>
        <input asp-for="Image" type="file" class="form-control">
        <span asp-validation-for=Image class="form-text text-danger"></span>
    </div>

    <div class="col-12">
        <label asp-for="Description" class="form-label">Description</label>
        <textarea asp-for="Description" class="form-control" rows="3" placeholder="Enter description"></textarea>
        <span asp-validation-for=Description class="form-text text-danger"></span>
    </div>

    <div class="col-md-12">
        <input asp-for="IsCertificate" type="checkbox" class="form-check-input mt-1">
        <label asp-for="IsCertificate" class="form-label">Is issued certificate</label>
    </div>

    <div class="col-6">
        <a asp-action="Index" type="button" class="btn btn-dark w-100">Back</a>
    </div>
    <div class="col-6">
        <button type="submit" class="btn btn-primary w-100">Create</button>
    </div>
</form>
